@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FF4F4F;
  --primary-alt: rgba(255, 79, 79, 0.4);
  --foreground: #FF4F4F;

  --background: #1B0086;
  --secondary: #1B0086;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);  
}

/** Infinite bounce animation */
@keyframes linkbounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(2px);
  }
  /* 50% {
    transform: translateY(0px);
  } */
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}

html,body {
  @apply font-sans overflow-auto;
}

input {
  @apply font-sans text-primary bg-secondary placeholder-primary-alt border-0 outline-none;
}

.link {
  @apply text-primary border-b border-b-primary-alt transition-all hover:border-b-transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}