@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-1-primary: #FF4F4F;
  --theme-1-primary-alt: #FF4F4F50;
  --theme-1-secondary: #1B0086;

  --theme-2-primary: #E6EDEB;
  --theme-2-primary-alt: #E6EDEB50;
  --theme-2-secondary: #02161E;

  --theme-3-primary: #A41DF7;
  --theme-3-primary-alt: #A41DF750;
  --theme-3-secondary: #10F9B7;

  --theme-4-primary: #F3E902;
  --theme-4-primary-alt: #F3E90250;
  --theme-4-secondary: #F6022C;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body, body.theme1 {
  --primary: var(--theme-1-primary);
  --primary-alt: var(--theme-1-primary-alt);
  --secondary: var(--theme-1-secondary);
  --foreground: var(--primary);
  --background: var(--secondary);
}

body.theme2 {
  --primary: var(--theme-2-primary);
  --primary-alt: var(--theme-2-primary-alt);
  --secondary: var(--theme-2-secondary);
  --foreground: var(--primary);
  --background: var(--secondary);
}

body.theme3 {
  --primary: var(--theme-3-primary);
  --primary-alt: var(--theme-3-primary-alt);
  --secondary: var(--theme-3-secondary);
  --foreground: var(--primary);
  --background: var(--secondary);
}

body.theme4 {
  --primary: var(--theme-4-primary);
  --primary-alt: var(--theme-4-primary-alt);
  --secondary: var(--theme-4-secondary);
  --foreground: var(--primary);
  --background: var(--secondary);
}

body,html {
  @apply transition-colors duration-500;
  color: var(--foreground);
  background: var(--background);  
}

/** Infinite bounce animation */
@keyframes linkbounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(2px);
  }
  /* 50% {
    transform: translateY(0px);
  } */
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}

html,body {
  @apply font-sans overflow-auto;
}

input {
  @apply font-sans text-primary bg-transparent placeholder-primary-alt border-0 outline-none;
}

.link {
  @apply text-primary border-b border-b-primary-alt transition-all hover:border-b-transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}